<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<head>
<link rel="stylesheet" href="about.css">
<script src="about.js"> </script>
</head>
<body>
{%- include views/header.html -%}
<div class="container-fluid splash" id="splash">
  <div class="container">
    <img src="./assets/images/about/profile4.jpg" class="profile-image">
    <h1>Minseok Song</h1>
    <span class="lead">Constantly looking for new challenges to make me a better programmer;</span>
    <span class="continue"><a href="#about"><i class="fa fa-angle-down"></i></a></span>
  </div>
</div>
<div class="container-fluid intro" id="about">
  <div class="container">
    <h2 style="text-align:center">About me</h2>
    <p style="text-align:left">

		My fascination with programming started in 2010. I developed a game to avoid obstacles and reach the next level within 30 seconds. From that experience, I had a dream of becoming a programmer, one who could bring happiness and comfort to people through my work. Now, my dream is to go beyond developing on my own and have the collaborative and leadership skills to lead a team in a better direction, as well as the programming skills to create programs that have a positive impact on people with my team.
		<br>
	 </p>
  </div>
</div>

	<!-- PORTFOLIO -->

<div class="container-fluid portfolio" id="portfolio">
  <div class="container cf">
    <h2 style="text-align:center">Portfolio</h2>
    <div class="gallery">
      <div class="gallery-image">       <a href="https://github.com/skytin1004/Inhabas.com-api">
          <img src="./assets/images/about/IBAS_logo_purple.png" alt="IBAS club logo">
          <span class="img-description">
			  IBAS Project</span>
        </a></div>
      <div class="gallery-image">       <a href="https://skytin1004.github.io/korarchive2022-2023/2023/04/29/MSazurethon.html">
          <img src="./assets/images/about/OPM_diagram.png" alt="OPM_prompt">
          <span class="img-description">2023 Chat GPT Microsoft Azurethon Award for Prompt Engineering Services<br></span>
        </a></div>
      <div class="gallery-image">       <a href="https://github.com/apache/iceberg/pulls?q=is%3Apr+author%3Askytin1004+is%3Aclosed">
          <img src="./assets/images/about/iceberg.png" alt="">
          <span class="img-description">Apach Iceberg Contributor<br> I Switched tests from JUnit4 to Junit5 in Iceberg</span>
        </a></div>
      <div class="gallery-image">       <a href="https://techcommunity.microsoft.com/t5/educator-developer-blog/teach-chatgpt-to-answer-questions-using-azure-ai-search-amp/ba-p/3969713?wt.mc_id=studentamb_279723">
          <img src="./assets/images/about/posted_ms_blog.png" alt="">
          <span class="img-description">Teach ChatGPT to PDF (Lang Chain)<br> Published on Microsoft Tech Community</span>
        </a></div>
      <div class="gallery-image">       <a href="https://techcommunity.microsoft.com/t5/educator-developer-blog/teach-chatgpt-to-answer-questions-using-azure-ai-search-amp/ba-p/3985395?wt.mc_id=studentamb_279723">
          <img src="./assets/images/about/posted_ms_blog.png" alt="">
          <span class="img-description">Teach ChatGPT to PDF (Semantic Kernel)<br> Published on Microsoft Tech Community</span>
        </a></div>
      <div class="gallery-image">       <a href="https://www.linkedin.com/in/minseok-song-b6347b26a/overlay/1635555444435/single-media-viewer/?profileId=ACoAAEHr17sBjBZVunATedTzg-s72uZU-AXsB9k">
          <img src="./assets/images/about/ranked1-mlsa.jpeg" alt="">
          <span class="img-description">
Most Views New Publishing (2023 / 11)<br><br> "Teach ChatGPT to Answer(Lang Chain)" was featured in the "Most Views New Publishing" section(21,600 views) in the MLSA's Monthly Community Call</span>
        </a></div>
    </div>
  </div>
</div>

<!--
<div class="container-fluid portfolio" id="portfolio">
  <div class="container cf">
    <h2>Speeches and presentations</h2>
    <div class="gallery">
      <div class="gallery-image"><img src="./assets/images/about/profile4.jpg" alt=""></div>
      <div class="gallery-image"><img src="./assets/images/about/profile6.jpg" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=248" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=247" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=239" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=238" alt=""></div>
    </div>
  </div>
</div>
-->
<div class="container-fluid features" id="timeline">
	<div class="container">
<!--이식-->
<h2 style="text-align:center">Timeline</h2>
<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
			</div>

			<div class="cd-timeline-content">
				<h2>Minseok Song</h2>
        	<div class="timeline-content-info">
		  		<span class="timeline-content-info-title">
            		<i class="fa fa-certificate" aria-hidden="true"></i>
            		Inha University<br>
					Department of Industrial Engineering<br>
         		</span>
          		<span class="timeline-content-info-date">
            		<i class="fa fa-calendar-o" aria-hidden="true"></i>
            		March 2020 - Present
          		</span>
        </div>
				<p>인하대학교에서 산업경영공학을 공부하고 있습니다. 저의 관심 분야는 자바, 파이썬 프로그래밍, 데이터 엔지니어링입니다.</p>
        <ul class="content-skills">
				</ul>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Flash game programming</h2>
				<p>I was introduced to the world of programming by developing a Flash game. I develop a game where you had to avoid obstacles to get to the next level in 30 seconds, and it became the #2 game of the week on a site called "Flash 365". Seeing people having fun with my creations made me want to be a programmer who could make a good impact on people.
				<span class="cd-date">Jan 2010</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Admission to Inha University</h2>
				<p>I wanted to become a programmer who could proactively lead projects and actively communicate with team members, so I decided to study Industrial Management Engineering, where I could combine a business mindset with programming skills.</p>
				<span class="cd-date">Mar 02 2020</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
<!--
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> <!-- cd-timeline-img -->
<!--
			<div class="cd-timeline-content">
				<h2>Database Project</h2>
				<p>팀 프로젝트에서 학생들의
					성적을 관리하는 ACCESS 프로그램을 만들었습니다.
					학생들에 대한 정보를 정리된 데이터로 작성하고 수업을 받는 학생들 중에서 보충수업이 
					필요한 학생을 추출하거나, 특정 기간동안 성적이 많이 상승하거나 하락한 학생들의 명단을 추출할 수 있도록 SQL문을 작성했습니다.
					데이터를 통해 유의미한 값을 추출해내고 이를 ACCESS프로그램으로 만들어보면서
					데이터 사이언스에 관심을 가지게 되었으며 이러한 경험을 토대로
					데이터를 수집,가공하는 데이터 엔지니어링 분야를 공부하기 시작했습니다.</p>
				<!-- 문단나누기 -->
<!--
				<span class="cd-date">Mar 2021</span>
			</div> <!-- cd-timeline-content -->
<!--
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> 
			<div class="cd-timeline-content">
				<h2> Microsoft Hackathon Award</h2>
				<p>I won the hackathon by creating a ChatGPT prompt that generates a report on supply chain optimization based on an Operations Planning Model from industrial engineering. Through the hackathon, I intensively studied and explored LLM (large-scale language models) and prompt engineering, which I have always been interested in.<br>
					
					
					※ ChatGPT Microsoft Azurethon 프롬프트 엔지니어링 서비스 분야 수상<br>
					
					<a href="https://skytin1004.github.io/prompt/2023microsoftazurethon/2023/04/26/OPM-prompt.html" target="_blank">
						※ OPM모델을 활용한 공급망 최적화 프롬프트(링크)</a><br>
					
					<a href="https://skytin1004.github.io/2023microsoftazurethon/2023/04/29/MSazurethon.html" target="_blank">
						※ 마이크로소프트 애저톤 수상후기(링크)</a><br>
				</p>
				<!-- 대회 이름은 밑으로 빼기, 각주같은거 넣어서, 해커톤이라고 쓰고 이해하기 쉽게 더 자세히 쓰자-->
				<span class="cd-date">May 04 2023</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> 
			<div class="cd-timeline-content">
				<h2> Microsoft Learn Student Ambassador</h2>
				<p>
					Microsoft Learn Student Ambassador(MLSA)에서 활동하고 있습니다. 
						<br>
					<a href="https://mvp.microsoft.com/ko-KR/studentambassadors/profile/e67c5642-76f5-4d5d-858b-f58a17c6bdcd" target="_blank">
						※ Microsoft Learn Student Ambassador Profile(링크)</a><br>
					<br>
					<a href="https://mvp.microsoft.com/studentambassadors/certificate/e67c5642-76f5-4d5d-858b-f58a17c6bdcd" target="_blank">
						※ Microsoft Learn Student Ambassador Certificate(링크)</a><br>
				</p>
				<span class="cd-date">July 20 2023</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> 
			<div class="cd-timeline-content">
				<h2>Club Development Team Leader</h2>
				<p>
					I am the development team leader of IBAS, a big data club at Inha University. I develop web pages for the club using Java and Spring Boot. MariaDB is used for database management, and Docker is used to manage the project environment. We also use AWS as a cloud service to host our websites.
						<br>
					<a href="https://www.inhabas.com/" target="_blank">
						IBAS Web Page</a><br>
					<br>
				</p>
				<span class="cd-date">Sep 01 2023</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			</div> <!-- cd-timeline-img -->
<!-- 
			<div class="cd-timeline-content">
				<h2>Final Section</h2>
				<p>This is the content of the last section</p>
				<span class="cd-date">Feb 26</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->
	</div>
</div>
    

<div class="container-fluid contact" id="contact">
  <div class="container">
    <form method="POST" data-email="skytin1004@gmail.com"
		  action="https://script.google.com/macros/s/AKfycbytsQL_kTiq8d36tjb_WPUfo9gtW9WLSavgCWNyHetLs8h20Ecio6e9XNmPwbzb96dgoA/exec"
		  target = "iframe1">
      <h2>Contact Me</h2>
      <input type="text" placeholder="Name" id="name" name="name" class="full-half">
      <input type="email" placeholder="Email" id="email" name="email" class="full-half">
      <input type="text" placeholder="Subject" id="subject" name="subject">
      <textarea placeholder="Message" id="message" name="message"></textarea>
      <input type="submit" value="Send" onclick="alert('Your email was sent successfully ')">
    </form>
  </div>
</div>

<iframe id="iframe1" name="iframe1" style="display:none"></iframe>
	
</body>
<footer class="container-fluid footer">
  <div class="container">
    <a href="https://www.linkedin.com/in/minseok-song-b6347b26a/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/skytin1004" target="_blank"><i class="fa fa-github"></i></a>
  </div>
</footer>
{%- include views/footer.html -%}
{%- include analytics.html -%}
</html>