<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<head>
<link rel="stylesheet" href="about.css">
<script src="about.js"> </script>
</head>
<body>
{%- include views/header.html -%}
<div class="container-fluid splash" id="splash">
  <div class="container">
    <img src="./assets/images/about/profile4.jpg" class="profile-image">
    <h1>Minseok Song</h1>
    <span class="lead">Constantly looking for new challenges to make me a better programmer;</span>
    <span class="continue"><a href="#about"><i class="fa fa-angle-down"></i></a></span>
  </div>
</div>
<div class="container-fluid intro" id="about">
  <div class="container">
    <h2 style="text-align:center">About me</h2>
    <p style="text-align:left">
저는 현재 인하대학교에 재학 중이며, 
		데이터 엔지니어링에 관심을 갖고 빅데이터 관련 오픈소스 플랫폼에 기여하고 있습니다.
초등학교 4학년, 플래시 게임을 개발하면서 프로그래밍의 세계로 입문했습니다. 30초 안에 장애물을 피하고 다음 레벨에 도달하는 게임을 개발했었는데 
		제가 만든 창작물을 사람들이 재미있게 하는 모습을 보면서 사람들에게 좋은 영향을 주는 프로그래머가 되고 싶다는 꿈을 가졌습니다.
		이제 제 꿈은 혼자 개발하는 것을 넘어서 팀을 더 나은 방향으로 이끌 수 있는 협업 능력과 리더십, 
		그리고 팀원들과 함께 사람들에게 긍정적인 영향을 주는 프로그램을 만들 수 있는 프로그래밍 기술을 갖추어 새로운 가치를 만들어 내는 것입니다.
	 </p>
  </div>
</div>

	<!-- PORTFOLIO -->

<div class="container-fluid portfolio" id="portfolio">
  <div class="container cf">
    <h2 style="text-align:center">Portfolio</h2>
    <div class="gallery">
      <div class="gallery-image">       <a href="https://github.com/skytin1004/Inhabas.com-api">
          <img src="./assets/images/about/IBAS_logo_purple.png" alt="IBAS club logo">
          <span class="img-description">
			  IBAS Project</span>
        </a></div>
      <div class="gallery-image">       <a href="https://skytin1004.github.io/korarchive2022-2023/2023/04/29/MSazurethon.html">
          <img src="./assets/images/about/OPM_diagram.png" alt="OPM_prompt">
          <span class="img-description">2023 Chat GPT Microsoft Azurethon Award for Prompt Engineering Services<br></span>
        </a></div>
      <div class="gallery-image">       <a href="https://github.com/apache/iceberg/pulls?q=is%3Apr+author%3Askytin1004+is%3Aclosed">
          <img src="./assets/images/about/iceberg.png" alt="">
          <span class="img-description">Apach Iceberg Contributor<br> I Switched tests from JUnit4 to Junit5 in Iceberg</span>
        </a></div>
      <div class="gallery-image">       <a href="https://techcommunity.microsoft.com/t5/educator-developer-blog/teach-chatgpt-to-answer-questions-using-azure-ai-search-amp/ba-p/3969713?wt.mc_id=studentamb_279723">
          <img src="./assets/images/about/posted_ms_blog.png" alt="">
          <span class="img-description">Teach ChatGPT to PDF (Lang Chain)<br> Published on Microsoft Tech Community</span>
        </a></div>
      <div class="gallery-image">       <a href="https://techcommunity.microsoft.com/t5/educator-developer-blog/teach-chatgpt-to-answer-questions-using-azure-ai-search-amp/ba-p/3985395?wt.mc_id=studentamb_279723">
          <img src="./assets/images/about/posted_ms_blog.png" alt="">
          <span class="img-description">Teach ChatGPT to PDF (Semantic Kernel)<br> Published on Microsoft Tech Community</span>
        </a></div>
      <div class="gallery-image">       <a href="https://www.linkedin.com/in/minseok-song-b6347b26a/overlay/1635555444435/single-media-viewer/?profileId=ACoAAEHr17sBjBZVunATedTzg-s72uZU-AXsB9k">
          <img src="./assets/images/about/ranked1-mlsa.jpeg" alt="">
          <span class="img-description">
Most Views New Publishing (2023 / 11)<br><br> "Teach ChatGPT to Answer(Lang Chain)" was featured in the "Most Views New Publishing" section(21,600 views) in the MLSA's Monthly Community Call</span>
        </a></div>
    </div>
  </div>
</div>

<!--
<div class="container-fluid portfolio" id="portfolio">
  <div class="container cf">
    <h2>Speeches and presentations</h2>
    <div class="gallery">
      <div class="gallery-image"><img src="./assets/images/about/profile4.jpg" alt=""></div>
      <div class="gallery-image"><img src="./assets/images/about/profile6.jpg" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=248" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=247" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=239" alt=""></div>
      <div class="gallery-image"><img src="https://unsplash.it/800/450?image=238" alt=""></div>
    </div>
  </div>
</div>
-->
<div class="container-fluid features" id="timeline">
	<div class="container">
<!--이식-->
<h2 style="text-align:center">Timeline</h2>
<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
			</div>

			<div class="cd-timeline-content">
				<h2>Minseok Song</h2>
        	<div class="timeline-content-info">
		  		<span class="timeline-content-info-title">
            		<i class="fa fa-certificate" aria-hidden="true"></i>
            		Inha University<br>
					Department of Industrial Engineering<br>
         		</span>
          		<span class="timeline-content-info-date">
            		<i class="fa fa-calendar-o" aria-hidden="true"></i>
            		March 2020 - Present
          		</span>
        </div>
				<p>인하대학교에서 산업경영공학을 공부하고 있습니다. 저의 관심 분야는 자바, 파이썬 프로그래밍, 데이터 엔지니어링입니다.</p>
        <ul class="content-skills">
				</ul>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Flash game programming</h2>
				<p>초등학교 4학년, 플래시 게임을 개발하면서 프로그래밍의 세계로 입문했습니다. 
					30초 안에 장애물을 피해 다음 단계로 넘어가는 게임을 만들었는데 ‘플래시 365’라는 사이트에서 주간 랭킹 2위를 하게 되었습니다.
					제가 만든 창작물을 사람들이 재미있게 하는 모습을 보면서 사람들에게 좋은 영향을 주는 프로그래머가 되고 싶다는 꿈을 가졌습니다.
				<br>
					<a href="https://skytin1004.github.io/flash/2023/06/13/flash-avoidobject.html" target="_blank">
						※ 물건 피하기 게임(링크)</a><br></p>
				<span class="cd-date">Jan 2010</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Admission to Inha University</h2>
				<p>인하대학교 산업경영공학과에 입학했습니다. 능동적으로 프로젝트를 리드하고
				팀원들과 적극적으로 소통하는 프로그래머가 되고자 경영적인 마인드와 프로그래밍 지식을 동시에 갖출 수 있는 산업경영공학과로 진학을 결정하였습니다.</p>
				<span class="cd-date">Mar 02 2020</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
<!--
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> <!-- cd-timeline-img -->
<!--
			<div class="cd-timeline-content">
				<h2>Database Project</h2>
				<p>팀 프로젝트에서 학생들의
					성적을 관리하는 ACCESS 프로그램을 만들었습니다.
					학생들에 대한 정보를 정리된 데이터로 작성하고 수업을 받는 학생들 중에서 보충수업이 
					필요한 학생을 추출하거나, 특정 기간동안 성적이 많이 상승하거나 하락한 학생들의 명단을 추출할 수 있도록 SQL문을 작성했습니다.
					데이터를 통해 유의미한 값을 추출해내고 이를 ACCESS프로그램으로 만들어보면서
					데이터 사이언스에 관심을 가지게 되었으며 이러한 경험을 토대로
					데이터를 수집,가공하는 데이터 엔지니어링 분야를 공부하기 시작했습니다.</p>
				<!-- 문단나누기 -->
<!--
				<span class="cd-date">Mar 2021</span>
			</div> <!-- cd-timeline-content -->
<!--
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> 
			<div class="cd-timeline-content">
				<h2> Microsoft Hackathon Award</h2>
				<p>산업공학의 조직 최적화 모델을 바탕으로 공급망 최적화에 대한 보고서를 작성하는 ChatGPT프롬프트를 제작하여 해커톤에서 수상 했습니다.<br>
					
					해커톤을 통해서 평소 관심이 있었던 LLM(대규모 언어 모델)과 프롬프트 엔지니어링을 집중적으로 공부하고 탐구했습니다.<br>
					
					
					※ ChatGPT Microsoft Azurethon 프롬프트 엔지니어링 서비스 분야 수상<br>
					
					<a href="https://skytin1004.github.io/prompt/2023microsoftazurethon/2023/04/26/OPM-prompt.html" target="_blank">
						※ OPM모델을 활용한 공급망 최적화 프롬프트(링크)</a><br>
					
					<a href="https://skytin1004.github.io/2023microsoftazurethon/2023/04/29/MSazurethon.html" target="_blank">
						※ 마이크로소프트 애저톤 수상후기(링크)</a><br>
				</p>
				<!-- 대회 이름은 밑으로 빼기, 각주같은거 넣어서, 해커톤이라고 쓰고 이해하기 쉽게 더 자세히 쓰자-->
				<span class="cd-date">May 04 2023</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> 
			<div class="cd-timeline-content">
				<h2> Microsoft Learn Student Ambassador</h2>
				<p>
					Microsoft Learn Student Ambassador(MLSA)에서 활동하고 있습니다. 
						<br>
					<a href="https://mvp.microsoft.com/ko-KR/studentambassadors/profile/e67c5642-76f5-4d5d-858b-f58a17c6bdcd" target="_blank">
						※ Microsoft Learn Student Ambassador Profile(링크)</a><br>
					<br>
					<a href="https://mvp.microsoft.com/studentambassadors/certificate/e67c5642-76f5-4d5d-858b-f58a17c6bdcd" target="_blank">
						※ Microsoft Learn Student Ambassador Certificate(링크)</a><br>
				</p>
				<span class="cd-date">July 20 2023</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> 
			<div class="cd-timeline-content">
				<h2>BigDataClub Development TeamLeader</h2>
				<p>
					인하대학교의 빅데이터 동아리 IBAS에서 개발팀장을 맡고 있습니다. Java와 Spring Boot를 사용하여 동아리의 웹 페이지를 개발하고 있습니다.
					데이터베이스 관리에는 MariaDB를 채택하였고,
					프로젝트 환경은 Docker를 통해 관리하고 있습니다.
					또한, 클라우드 서비스로 AWS를 활용하여 웹 페이지를 호스팅하고 있습니다.
						<br>
					<a href="https://www.inhabas.com/" target="_blank">
						IBAS 웹페이지</a><br>
					<br>
				</p>
				<span class="cd-date">Sep 01 2023</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			</div> <!-- cd-timeline-img -->
<!-- 
			<div class="cd-timeline-content">
				<h2>Final Section</h2>
				<p>This is the content of the last section</p>
				<span class="cd-date">Feb 26</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->
	</div>
</div>
    

<div class="container-fluid contact" id="contact">
  <div class="container">
    <form method="POST" data-email="skytin1004@gmail.com"
		  action="https://script.google.com/macros/s/AKfycbytsQL_kTiq8d36tjb_WPUfo9gtW9WLSavgCWNyHetLs8h20Ecio6e9XNmPwbzb96dgoA/exec"
		  target = "iframe1">
      <h2>Contact Me</h2>
      <input type="text" placeholder="Name" id="name" name="name" class="full-half">
      <input type="email" placeholder="Email" id="email" name="email" class="full-half">
      <input type="text" placeholder="Subject" id="subject" name="subject">
      <textarea placeholder="Message" id="message" name="message"></textarea>
      <input type="submit" value="Send" onclick="alert('Your email was sent successfully ')">
    </form>
  </div>
</div>

<iframe id="iframe1" name="iframe1" style="display:none"></iframe>
	
</body>
<footer class="container-fluid footer">
  <div class="container">
    <a href="https://www.linkedin.com/in/minseok-song-b6347b26a/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/skytin1004" target="_blank"><i class="fa fa-github"></i></a>
  </div>
</footer>
{%- include views/footer.html -%}
{%- include analytics.html -%}
</html>